<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PanicJusMisiones</name>

    <description>
       Botón antipánico para móviles
    </description>

    <author href="http://www.jusmisiones.gov.ar" email="lfojeda@jusmisiones.gov.ar">
        Luis Fernando Ojeda
    </author>

</widget>
